@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

* {
  /*--tab-corner-rounding: 5px;*/
  --animation-speed: 0.4s;
  --button-corner-rounding: 30px;
  --urlbar-container-height: 40px !important;
  --urlbar-height: 32px !important;
  --urlbar-toolbar-height: 40px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 5px !important;
  --tabs-border-color: transparent;
  --menu-corner-rounding: 8px;
}

.titlebar-spacer[type="pre-tabs"] {
  display: none !important;
}

#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  margin-top: 1px;
  height: 46px;
  text-align: center;
}

#TabsToolbar:hover {
  background: transparent;
}

.tab-line {
  display: none;
}

#urlbar[breakout][breakout-extend],
#urlbar[breakout][breakout-extend-disabled][open] {
  /* The z-index needs to be big enough to trump other positioned UI pieces
     that we want to overlay. 3 is used in the tab bar. */
  z-index: 3;
  height: var(--urlbar-height) !important;
}

tab:not(:active) .tab-background {
  transition: background-color var(--animation-speed) !important;
}
:root:not([customizing]) :hover > .tabbrowser-tab:not(:hover) {
  /*filter: blur(3px) brightness(50%);*/
  transition: blur, ease 0.5s !important;
}

:root:not([customizing]) :not(:hover) > .tabbrowser-tab {
  /*filter: blur(0px) brightness(100%) !important;*/
  transition: blur, ease 0.2s !important;
}

#tabbrowser-tabs .tab-label-container[customizing] {
  color: transparent;
  transition: ease 0.5s;
  transition-delay: 3s;
}

:root:not([customizing]) :hover > #tabbrowser-tabs,
:root:not([customizing]) #tabbrowser-tabs:focus-within,
#urlbar[focused='true'],
#identity-box[open='true'],
#navigator-toolbox:hover > #tabbrowser-tabs:not([customizing]),
#toolbar-menubar:not([inactive='true']) ~ #tabbrowser-tabs:not([customizing]) {
  color: rgb(255, 255, 255) !important;
  transition: linear 0s;
  transition-delay: 3s;
}

tab:not([selected]):hover .tab-background {
  background-color: var(
    --toolbarbutton-hover-background,
    rgba(182, 182, 182, 0.11)
  ) !important;
}

#navigator-toolbox::after {
  display: none !important;
}

#urlbar {
  /*border-radius: calc(1px + var(--button-corner-rounding)) !important;*/
  height: 30px;
  margin-left: 5px;
}

#urlbar-container *:not(#identity-box) {
  border-color: transparent !important;
  box-shadow: none !important;
}

#pageActionSeparator {
  display: none !important;
}

#library-button[animate] {
  margin-bottom: 0px !important;
  margin-top: 50px !important;
}

#library-button[animate] image {
  margin-bottom: -120px !important;
  margin-top: 100px !important;
}

.urlbarView {
  background: var(--toolbar-bgcolor) !important;
  filter: brightness(90%);
  color: var(--toolbar-color) !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

#pocket-button {
  padding-bottom: 4px !important;
}

.urlbar-icon-wrapper > .urlbar-icon:hover {
  background-color: transparent !important;
}

.urlbar-icon-wrapper {
  background-color: transparent !important;
  transition: background-color var(--animation-speed) !important;
}

#urlbar:not([focused]) {
  border-radius: 20px !important;
}

#identity-box:hover,
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
[anonid='urlbar-go-button']:hover {
  border-radius: 10px !important;
}

.urlbar-input-box,
#identity-box,
[anonid='urlbar-go-button'],
#urlbar {
  font-size: 1rem;
  /*font-family: 'Airbnb Cereal App Book', 'Arial', 'Helvetica';*/
  transition: background-color var(--animation-speed) !important;
  color: var(--toolbar-color) !important;
}

#urlbar,
#searchbar {
  border: none !important;
}

#page-action-buttons > *:not(#star-button-box),
.urlbar-history-dropmarker {
  opacity: 0 !important;
}

#urlbar:hover #page-action-buttons > *,
#urlbar:hover .urlbar-history-dropmarker {
  opacity: 1 !important;
}

#tabs-newtab-button {
  margin-left: 4px !important;
  margin-top: 2px !important;
  border-radius: 100% !important;
  padding-top: 2px !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

.tab-background[selected='true'] {
  color: #111111 !important;
}

.tabbrowser-tab {
  text-align: center !important;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*tooltip*/
#tabbrowser-tab-tooltip {
  font-size: 1rem !important;
  width: 170px !important;
  height: auto;
  /*font-family: 'Airbnb Cereal App Book', 'Arial', 'Helvetica';*/
  font-weight: normal !important;
  color: var(--lwt-tab-text) !important;
  background-color: var(--toolbar-bgcolor) !important;
  padding: 5px;
  border-radius: 10px;
}

menupopup {
  border-radius: var(--menu-corner-rounding) !important;
}

menuseparator {
  border: none !important;
  background-color: none !important;
}

menuitem:hover,
menu:hover,
menu[open='true'],
menuitem[_moz-menuactive='true'] {
  border-radius: var(--menu-corner-rounding);
}


/* Added from another one*/

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"] {
    padding-left: 12px !important;
}

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator:hover{
    border-radius:var(--menu-corner-rounding);
    overflow: -moz-hidden-unscrollable !important;
}

#urlbar[breakout-extend] {
    top: 4px !important;
    left: 0px !important;
    height: auto !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-toolbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    padding-bottom: 6px !important;
    margin-bottom: -5px !important;
    margin-top: -1px !important;
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-radius:var(--menu-corner-rounding) !important;
    box-shadow: 0px 2px -3px -4px black !important;
}

.panel-arrowcontainer .panel-arrowcontent, .menupopup-arrowscrollbox, hbox[flex="1"][part="innerbox"] {
    border-radius: var(--menu-corner-rounding) !important;
}

menuitem.menuitem-iconic.bookmark-item.menuitem-iconic.menuitem-with-favicon:hover{
    border-radius: var(--menu-corner-rounding) !important;
}

@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
  #alertBox{
    border-radius: var(--menu-corner-rounding) !important;
    background-color: rgb(60,57,76) !important;
    color: white !important;
  }
  #alertSourceLabel{
    color: white !important;
  }
  #alertBox, image{
        border-radius: var(--button-corner-rounding) !important;
  }
}
